:root,
[data-theme='light'] {
  --background: #f2f1ef;
  --background-soft: #e2e1df;
  --foreground: #22262d;
  --red: #c84053;
  --green: #6f894e;
  --yellow: #77713f;
  --blue: #4d699b;
  --purple: #b35b79;
  --aqua: #597b75;
  --orange: #cc6d00;
  --comment: #6d6f6e;
}

[data-theme='dark'] {
  --background: #090e13;
  --background-soft: #22262d;
  --foreground: #c5c9c7;
  --red: #c4746e;
  --green: #8a9a7b;
  --yellow: #c4b28a;
  --blue: #8ba4b0;
  --purple: #a292a3;
  --aqua: #8ea4a2;
  --orange: #b6927b;
  --comment: #a4a7a4;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --background: #090e13;
    --background-soft: #22262d;
    --foreground: #c5c9c7;
    --red: #c4746e;
    --green: #8a9a7b;
    --yellow: #c4b28a;
    --blue: #8ba4b0;
    --purple: #a292a3;
    --aqua: #8ea4a2;
    --orange: #b6927b;
    --comment: #a4a7a4;
  }
}
